// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// RGBA
$rgba0000: rgba(0, 0, 0, 0);
$rgba255_3: rgba(255, 255, 255, 0.3);
$rgba0_1: rgba(0, 0, 0, 0.1);
$rgba0_5: rgba(0, 0, 0, 0.5);
$rgba0_6: rgba(0, 0, 0, 0.6);
$rgba0_92: rgba(0, 0, 0, 0.92);

// #color
$C_F2F2F2: #F2F2F2;
$C_C4C4C4: #C4C4C4;
$C_C6C6C6: #C6C6C6;
$C_F8F8F8: #F8F8F8;
$C_BB9B51: #BB9B51;
$C_3E4B44: #3E4B44;
$C_F0F0F0: #F0F0F0;
$C_000: #000;
$C_333: #333;
$C_444: #444;
$C_666: #666;
$C_777: #777;
$C_FFF: #FFF;
$C_C1C1C1: #C1C1C1;
$C_E1E1E1: #E1E1E1;
$C_D9D9D9: #D9D9D9;
$C_3A0E6A: #3A0E6A;
$C_6E40C4: #6E40C4;
$C_39106A: #39106A;
$C_38116A: #38116A;
$C_DBDBDB: #DBDBDB;
$C_F5F5F5: #F5F5F5;
$C_211F1F: #211F1F;
$C_8F8F8F: #8F8F8F;
$C_352C2C: #352C2C;
