#banner {
  position: relative;
  .banner_item {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    z-index: 10;
    .container_box {
      .row_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .banner_item_left, .banner_item_right {
          > ul {
            display: flex;
            align-items: center;
            > li {
              position: relative;
              margin-right: 20px;
              &:last-child {
                margin-right: 0px;
              }
              > a {
                font-size: 16px;
                color: $C_FFF;
                transition: all .3s;
                &:hover {
                  color: $C_C1C1C1;
                }
              }
              &.line:after {
                content: '';
                position: absolute;
                right: -10px;
                top: 7px;
                width: 1px;
                height: 13px;
                background: $C_FFF;
              }
            }

            .menu {
              font-size: 14px;
              padding: 3px 10px;
              border: 1px solid $C_FFF;
              transition: all .3s;
            }

            .white, .purple {
              width: 80px;
              padding: 7px 30px 9px 30px;
              border: 1px solid;
              text-align: center;
              box-sizing: content-box;
            }
            .white {
              background-color: $C_FFF;
              border-color: $C_FFF;
              margin-right: 10px;
              > a {
                color: $C_3A0E6A;
              }
            }
            .purple {
              background-color: $C_3A0E6A;
              border-color: $C_6E40C4;
              > a {
                color: $C_FFF;
              }
            }
          }
        }
        .banner_item_right {
          display: flex;
          white-space: nowrap;
        }
      }
    }
  }
}

/* Media */
@media screen and(max-width: 1281px) {
  #banner {
    .banner_item {
      .container_box {
        .row_box {
          .banner_item_left {

          }
        }
      }
    }
  }
}

@media screen and(max-width: 1024px) {
  #banner {
    .banner_item {
      .container_box {
        .row_box {
          justify-content: flex-end;
          .banner_item_left {
            display: none;
          }
          .banner_item_right {
            ul:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 960px) {

}

@media screen and(max-width: 768px) {

}

@media screen and(max-width: 600px) {
  #banner {
    .banner_item {
      .container_box {
        .row_box {
          .banner_item_left, .banner_item_right {
            > ul {
              > li {
                &:last-child {
                }
                > a {
                  &:hover {
                  }
                }
              }

              .menu {
              }

              .white, .purple {
                width: 80px;
                padding: 3px 5px 5px 5px;
                background: $rgba0_6;
                border-color: $C_FFF;
              }
              .white {
                > a {
                  color: $C_FFF;
                }
              }
              .purple {
                > a {
                  color: $C_FFF;
                }
              }
            }
          }
          .banner_item_right {
            display: flex;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 480px) {

}

@media screen and(max-width: 320px) {

}

.carousel-wrapper {
  position: relative;
  height: 600px;
  .VueCarousel {
    height: 100%;
    .VueCarousel-wrapper {
      height: 100%;
      .VueCarousel-inner {
        height: 100% !important;
      }
    }
  }
  .VueCarousel-slide {
    text-align: center;
  }
}

.img-wrapper {
  position: relative;
  > img {
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(gray 100%, transparent 0);
    background-size: cover;
  }
  .absolute_box {
    position: absolute;
    color: $C_FFF;
    bottom: 40px;
    left: 40px;
    text-align: left;
    > h2 {
      font-size: 62px;
      line-height: 70px;
      > em {
        position: relative;
        display: block;
        font-size: 59px;
        font-weight: 100;
        &:after {
          content: '';
          position: absolute;
          left: 0px;
          bottom: -35px;
          width: 100%;
          height: 1px;
          background: $rgba255_3;
        }
      }
    }
    > p {
      font-size: 27px;
      padding-top: 55px;
    }
  }
}

@media screen and(max-width: 1024px) {
  .carousel-wrapper {
    height: 500px;
  }
}

@media screen and(max-width: 960px) {
  .img-wrapper {
    .absolute_box {
      > h2 {
        font-size: 37px;
        line-height: 45px;
        > em {
          font-size: 34px;
          &:after {
            bottom: -15px;
          }
        }
      }
      > p {
        font-size: 16px;
        padding-top: 35px;
      }
    }
  }
}

@media screen and(max-width: 600px) {
  .img-wrapper {
    .absolute_box {
      > h2 {
        font-size: 24px;
        line-height: 30px;
        > em {
          font-size: 20px;
          &:after {
            bottom: -5px;
          }
        }
      }
      > p {
        font-size: 14px;
        padding-top: 25px;
      }
    }
  }

  .carousel-wrapper {
    height: 400px;
  }
}
